<!DOCTYPE html>
<html>
  <head>
    <title>Create Project</title>
    <link rel="stylesheet" href="../css/create-style.css"/>
  </head>
  <div>
    <table id='nav-container'>
      <tr>
        <td class='nav-button'>
          <a href='/explore'>Explore</a>
        </td>
        <td class='nav-button'>
          <a href='/create'>Create</a>
        </td>
        <td class='nav-button'>
          <a href='/user'>Profile</a>
        </td>
        <td class='nav-button'>
          <a href="{{logout}}">Logout</a>
        </td>
      </tr>
    </table>
  </div>
  <body>
    <div id='outer-container'>
      <form method='post'>
          <h1>
            Create a Time Request
          </h1> <hr/>
            <div>
              <input name='title' class='user-input' type="text" placeholder="Title"/> <br/>
              <select name='time_requested' class='user-input' type="text" placeholder="Time Requested">
                <option value=.5>
                  .5 hour
                </option>
                <option value=1>
                  1 hour
                </option>
                <option value=1.5>
                  1.5 hours
                </option>
                <option value=2>
                  2 hours
                </option>
                <option value=2.5>
                  2.5 hours
                </option>
                <option value=3>
                  3 hours
                </option> </select> <br />
              <input name='date' class='user-input' placeholder="Date: mm/dd/yyyy"/> <br/>
              <select name='area' class='user-input' placeholder="Area"/>
                <option value='santa-monica'>
                  Santa Monica
                </option>
                <option value='torrance'>
                  Torrance
                </option>
                <option value='Inglewood'>
                  Inglewood
                </option>
                <option value='hawthorne'>
                  Hawthorne
                </option>
                <option value='culver'>
                  Culver City
                </option>
                <option value='beverly-hills'>
                  Beverly Hills
                </option>
                <option value='central-la'>
                  Central LA
                </option>
                <option value='south-la'>
                  South LA
                </option>
                <option value='downtown'>
                  Downtown
                </option>
                <option value='south-gate'>
                  South Gate
                </option>
                <option value='compton'>
                  Compton
                </option>
                <br/>
              <textarea name='description' class='user-input' id='description' placeholder="Description"/></textarea>
              </div>
                <button id='post' type="submit"> Post </button>
          </form>
  </body>
</html>
