<!DOCTYPE html>
<html>
  <head>
    <title>Create Project</title>
    <link rel="stylesheet" href="../css/create-style.css"/>
  </head>
  <body>
    <div id='outer-container'>
      <h1>
        Create a Time Request
      </h1> <hr/>
      <div>
        <input class='user-input' type="text" placeholder="Title"/> <br/>
        <input class='user-input' placeholder="Date: mm/dd/yyyy"/> <br/>
        <input class='user-input' placeholder="Area"/> <br/>
        <textarea class='user-input' id='description' placeholder="Description"/></textarea>
      </div>
      <button id='post'>Post</button>
  </body>
</html>
