<!DOCTYPE html>
<html>
  <head>
    <title>Explore</title>
    <link rel="stylesheet" href="../css/explore-style.css"/>
  </head>

  <!-- Nav bar -->
  <nav class='centered'>
    <form>
      <!-- search bar -->
      <input id='search' type='search' placeholder='Search Users...'/>
    </form>
    <!-- header trable -->
    <table id='nav-container'>
      <tr>
        <td class='nav-button'>
          <a href='/explore'>Explore</a>
        </td>
        <td class='nav-button'>
          <a href='/create'>Create</a>
        </td>
        <td class='nav-button'>
          <a href='/user'>Profile</a>
        </td>

        <td class='nav-button'>
          <a href="{{logout}}">Logout</a>
        </td>
      </tr>
    </table>
    <div class='logo'>b<span style="color: #a2c4c9">/</span>lend<div>
  </nav>

  <body>

    <!-- this is where the page shows the categories and query -->
    <div class='centered' id='foreground'>
      <div id='query-container'>
        <table id='category-container'>
          <tr>
            <td>
              Title
            </td>
            <td>
              Date
            </td>

            <!--when button pressed reloads page-->
            <form method='post' action='/explore'>
              <td>
                Area:
                <select name='area' id='area-select'/>
                  <option value='all'>
                    All
                  </option>
                  <option value='santa-monica'>
                    Santa Monica
                  </option>
                  <option value='torrance'>
                    Torrance
                  </option>
                  <option value='Inglewood'>
                    Inglewood
                  </option>
                  <option value='hawthorne'>
                    Hawthorne
                  </option>
                  <option value='culver'>
                    Culver City
                  </option>
                  <option value='beverly-hills'>
                    Beverly Hills
                  </option>
                  <option value='central-la'>
                    Central LA
                  </option>
                  <option value='south-la'>
                    South LA
                  </option>
                  <option value='downtown'>
                    Downtown
                  </option>
                  <option value='south-gate'>
                    South Gate
                  </option>
                  <option value='compton'>
                    Compton
                  </option>
              </td>
              <td>
                Withdrawal:
                <select name='withdrawal' id='withdrawal-select'>
                  <option value= 'all'>
                    All
                  </option>
                  <option value='.5'>
                    .5
                  </option>
                  <option value='1'>
                    1
                  </option>
                  <option value='1.5'>
                    1.5
                  </option>
                  <option value='2'>
                    2
                  </option>
                  <option value='2.5'>
                    2.5
                  </option>
                  <option value='3'>
                    3
                  </option>
                </select>
              </td>
              <td>
                  <button id='search-button'> Search </button>
              </td>
            </form>
          </tr>
        </table>
        <!-- for each project in list_projects (from query in python). Iterates through backwards (in chronological order)-->
        <!-- print table in row w/ attributes of project -->
        <div id='projects-container'>
          <table>
          {% for project in list_projects[::-1] %}

                <tr id='{{project.key.id()}}' onclick='loadProject(this)'>
                  <td class='query-results' >
                    {{project.title}}
                  </td>
                  <td class='query-results'>
                    {{project.date}}
                  </td>
                  <td class='query-results'>
                    {{project.area}}
                  </td>
                  <td class='query-results last'>
                    {{project.time_requested}} hours
                  </td>
                </tr>
          {% endfor %}
          </table>
        </div>

      </div>

    </div><div class='centered' id='whitebg'>.</div>
    <script>
      function loadProject(el){
        console.log(el.getAttribute('id'))
        project_id = el.getAttribute('id')
        window.location.href = '/projectview?id=' +  project_id
      }
    </script>
  </body>
</html>
