<!DOCTYPE html>
<html>
  <head>
    <title>View</title>
    <link rel="stylesheet" href="../css/project-view-style.css"/>
  </head>
  <!-- Nav bar -->
  <nav>
    <form>
      <!-- search bar -->
      <input id='search' type='search' placeholder='Search Users...'/>
    </form>
    <!-- header trable -->
    <table id='nav-container'>
      <tr>
        <td class='nav-button'>
          <a href='/explore'>Explore</a>
        </td>
        <td class='nav-button'>
          <a href='/create'>Create</a>
        </td>
        <td class='nav-button'>
          <a href='/user'>Profile</a>
        </td>
        <td class='nav-button'>
          Settings
        </td>
        <td class='nav-button'>
          <a href="{{logout}}">Logout</a>
        </td>
      </tr>
    </table>
  </nav>

  <body>
    <div class='centered'>
      <!-- header -->
      <div id='header-container' >
        <div id='proj_name'> <!-- This is the project name. --> {{project_name}} </div>
        <div id='proj_owner_name'> By [filler for later on] | [Date]</div>
        <div id='circle-container'>
          <!-- this is where the circle is -->

        </div>

      <!-- body/description -->
        <h1 id='description'>Description</h1><br>
        <div id='description_container'>
           <p>Description info right here...</p>
        <!--enter project description here  -->
        </div>
        <h1 id='requirements'>Requirements</h1><br>
        <div id='requirements_container'>
           <p>Requirements info right here...</p>
        <!--enter project description here  -->
        </div>
      </div><br>
      <div class='centered_container'>
        <button type='submit' id='donate_button'>Donate</button>
      </div>
    </div>
  </body>
</html>
