<!DOCTYPE html>
<html>
  <head>
    <title>View</title>
    <link rel="stylesheet" href="../css/project-view-style.css"/>
  </head>
  <!-- Nav bar -->
  <nav>
    <form>
      <!-- search bar -->
      <input id='search' type='search' placeholder='Search Users...'/>
    </form>
    <!-- header trable -->
    <table id='nav-container'>
      <tr>
        <td class='nav-button'>
          <a href='/explore'>Explore</a>
        </td>
        <td class='nav-button'>
          <a href='/create'>Create</a>
        </td>
        <td class='nav-button'>
          <a href='/user'>Profile</a>
        </td>

        <td class='nav-button'>
          <a href="{{logout}}">Logout</a>
        </td>
      </tr>
    </table>
  </nav>

  <body>

    <span>
      <div class='centered'>
        <!-- header -->
        <div id='header-container' >
          <div id='proj_name'> {{project_title}} </div>
          <div id='proj_facts'> By {{owner}}| {{date}} | {{area}} | {{request}} hours requested </div>
          <div id='circle-container'>
            <!-- this is where the circle is -->

          </div>

        <!-- body/description -->
          <h3 id='description-header'>Description</h3><br>
          <div id='description_container'>
             <p>{{description}}</p>
          <!--enter project description here  -->
          </div>
          <!-- <h1 id='requirements'>Requirements</h1><br>
          <div id='requirements_container'>
             <p>Requirements info right here...</p>
          </div> -->
        </div><br>
      </span>

      <span>
        <h3 id='requests-header'>Potential Lenders</h3>
        <div id='requests-container'>
          {% for donation in donation_list %}
          <table>
            <tr>
              <td class='render_donor first'>
                Deposit from: {{donation.nickname}}
              </td>
              <td class='render_donor'>
                <button class='button one'>Accept</button>
              </td>
              <td class='render_donor'>
                <button class='button two'>Reject</button>
              </td>
            </tr>
          </table>
          {% endfor %}
        </div>
      </span>
      <form method='post' action='/projectview?id={{current_project_id}}'>
        <button type='submit' id='donate_button'>Donate</button>
      </form>
    </div>
  </body>
</html>
