<!DOCTYPE html>
<html>
  <head>
    <title>View</title>
    <link rel="stylesheet" href="../css/project-view-style.css"/>
  </head>
  <!-- Nav bar -->


  <body class='centered'>

    <nav>
      <form>
        <!-- search bar -->
        <input id='search' type='search' placeholder='Search Users...'/>
      </form>
      <!-- header trable -->
      <table id='nav-container'>
        <tr>
          <td class='nav-button'>
            <a href='/explore'>Explore</a>
          </td>
          <td class='nav-button'>
            <a href='/create'>Create</a>
          </td>
          <td class='nav-button'>
            <a href='/user?id={{current_user_id}}'>Profile</a>
          </td>

          <td class='nav-button'>
            <a href="{{logout}}">Logout</a>
          </td>
        </tr>
      </table>
      <div class='logo'>b<span style="color: #a2c4c9">/</span>lend<div>
    </nav>


    <span>
      <div>
        <!-- header -->
        <div id='header-container' >
          <div id='proj_name'> {{project_title}} </div>
          <div id='proj_facts'> By {{owner}}| {{date}} | {{area}} | {{request}} hours requested </div>
          <div id='circle-container'>
            <!-- this is where the circle is -->

          </div>

        <!-- body/description -->
          <h3 id='description-header'>Description</h3><br>
          <div id='description_container'>
             <p>{{description}}</p>
          <!--enter project description here  -->
          </div>
          <!-- <h1 id='requirements'>Requirements</h1><br>
          <div id='requirements_container'>
             <p>Requirements info right here...</p>
          </div> -->
        </div><br>
    </span>

    <span>
        <h3 id='requests-header'>Potential Lenders</h3>
        <div id='requests-container'>
          {% for donation in donation_list %}
          <table>
            <tr>
              <td class='render_donor first' id='{{donation.user_id}}' onclick='loadUser(this)'>
                Deposit from: {{donation.nickname}}
              </td>
                <td class='render_donor'>
                    <form method="post" action='/projectview?id={{current_project_id}}'>
                      <input type='hidden' name='action' value='accept'/>
                      <input type='hidden' name='donor_id' value='{{donation.user_id}}'/>
                      <button class='button one'>Accept</button>
                    </form>
                </td>
                <td class='render_donor'>

                  <form method="post" action='/projectview?id={{current_project_id}}' >
                    <input type='hidden' name='action' value='reject'/>
                    <input type='hidden' name='donor_id' value='{{donation.user_id}}'/>
                    <button class='button two'>Reject</button>
                  </form>
                </td>
                <td class='render_donor' >
                  {{owner_email}}
                </td>
            </tr>
          </table>
          {% endfor %}
        </div>
    </span>

      <form method='post' action='/projectview?id={{current_project_id}}'>
        <input type='hidden' name='action' value='donate'/>
        <button type='submit' id='donate_button'>Donate</button>
      </form>
    </div><div id='whitebg'>.</div>

    <script>
      function loadUser(el){
        console.log(el.getAttribute('id'))
        project_id = el.getAttribute('id')
        window.location.href = '/user?id=' +  project_id
      }
    </script>

  </body>
</html>
