<!--user_template.html-->
<!DOCTYPE html>
<html>
  <head>
    <title>User Profile</title>
    <link rel="stylesheet" href="../css/user_profile.css" type='text/css'  />
  </head>

  <body>

    <div id='user'>
    <h2>{{username}}</h2>
    <img height="300px" src="https://storage.googleapis.com/idx-acnt-gs.ihouseprd.com/AR653155/file_manager/PAY-IT-FORWARD.jpg" alt="logo">
      <h3>You have {{points}} TimePoints</h3>
  </div>

  <div id='directory'>
    <h2>Site Directory</h2>
    <img height="300px" src="https://www.maketecheasier.com/assets/uploads/2017/07/google-maps-alternatives-featured.jpg" alt="logo">
    <ul>
      <li><a href="{{explore_page}}">Explore</a></li>
      <li><a href="{{project_page}}">Projects</a></li>
    </ul>
  </div>



  </body>
</html>
