<!--user_template.html-->
<!DOCTYPE html>
<html>
  <head>
    <title>User Profile</title>
    <link rel="stylesheet" href="/css/user_profile.css" type='text/css'  />
  </head>

  <body>

    <nav>
      <form>
        <!-- search bar -->
        <input id='search' type='search' placeholder='Search Users...'/>
      </form>
      <!-- header trable -->
      <table id='nav-container'>
        <tr>
          <td class='nav-button'>
            Explore
          </td>
          <td class='nav-button'>
            Create
          </td>
          <td class='nav-button'>
            Profile
          </td>
          <td class='nav-button'>
            Settings
          </td>
        </tr>
      </table>
    </nav>

<!-- Includes user info and time balance -->

    <div id='header-container' >
      <div id='circle-container'>
      </div>
      <div id='user-info'>
        <h3> Name McName III</p>
        <p> Time Balance | {{hours}} </p>
      </div>
    </div>

<!-- bio -->
    <h3 id='bio-header'>Bio</h3>
    <div id='bio-container'>
    </div>

    <h3 id='withdrawl-header'>My Withdrawls</h3>
    <div id='withdrawl-container'>
    </div>

    <h3 id='donation-header'>My Donations</h3>
    <div id='donation-container'>
    </div>

  </body>
</html>
