<!--user_template.html-->
<!DOCTYPE html>
<html>
  <head>
    <title>User Profile</title>
    <link rel="stylesheet" href="../css/user_profile.css" type='text/css'/>
  </head>

  <body>

    <nav>
      <form>
        <!-- search bar -->
        <input id='search' type='search' placeholder='Search Users...'/>
      </form>
      <!-- header trable -->
      <table id='nav-container'>
        <tr>
          <td class='nav-button'>
            <a href='/explore'>Explore</a>
          </td>
          <td class='nav-button'>
            <a href='/create'>Create</a>
          </td>
          <td class='nav-button'>
            <a href='/user'>Profile</a>
          </td>
          <td class='nav-button'>
            <a href="{{logout}}">Logout</a>
          </td>
        </tr>
      </table>
    </nav>

<!-- Includes user info and time balance -->

    <div id='header-container' >
      <div id='circle-container'>
      </div>
      <div id='user-info'>
        <h3>{{nickname}}</p>
        <p> TimePoints Balance: {{points}} </p>
      </div>
    </div>

<!-- bio -->
    <h3 id='bio-header'>Bio</h3>
    <div id='bio-container'>


    </div>
    <button id='edit-bio'>Edit Bio</button>
    <h3 id='withdrawl-header'>My Withdrawls</h3>
    <div id='withdrawl-container'>

    <h3 id='project-header'>My Projects</h3>
    <div id='project-container'>
      <table id='project-table'>
        <tr>
          <th>title</th>
          <th>date</th>
          <th>area</th>
          <th>time requested</th>
        </tr>
        {% for project in list_projects[::-1] %}
        <tr id='{{project.key.id()}}' onclick='loadProject(this)'>
          <td>{{project.title}}</td>
          <td>{{project.date}}</td>
          <td>{{project.area}}</td>
          <td>{{project.time_requested}} hours</td>
        </tr>
        {% endfor %}
      </table>

    </div>

    <h3 id='donation-header'>My Donations</h3>
    <div id='donation-container'>
    </div>
    <div id='edit-form'>
      <form action="#" id="form" method="post" name="form">
        <img id="close" src="https://static.thenounproject.com/png/261420-200.png" onclick ="div_hide()">
        <h2>Edit Profile</h2>
        <hr>
        <textarea id="bio" name="message"></textarea><br>
        <a id="submit">Submit</a>
      </form>
    </div>
    <script>
      function popUp() {
        document.getElementById('edit-form').style.display = "block";
      }
      //Function to Hide Popup
      function div_hide(){
        document.getElementById('edit-form').style.display = "none";
      }

      document.getElementById('submit').addEventListener('click',function(){
        document.getElementById("bio-container").innerHTML = '';
        bioContent = document.getElementById('bio').value
        console.log(bioContent)
        document.getElementById('bio-container').append(bioContent);
        div_hide();
      });

      document.getElementById('edit-bio').addEventListener('click', function(){
        popUp();
        formContent = document.getElementById('bio-container').value
        if (formContent == null) {
          document.getElementById('bio').append("Enter bio here...")
        }
        else {
          document.getElementById('bio').append(formContent);
        }
      });

    </script>

    <script>
      function loadProject(el){
        project_id = el.getAttribute('id')
        window.location.href = '/projectview?id=' +  project_id
      }
    </script>
  </body>
</html>
