@import url(https://fonts.googleapis.com/css?family=Hind+Vadodara);
@import url(https://fonts.googleapis.com/css?family=Montserrat+Alternates);



body{
  background-image: url("https://static1.squarespace.com/static/51c66a03e4b04f91946712b2/t/53ba4eace4b074d7aaf6378f/1404718765835/?format=2500w");
  margin-top:50px;
  font-family:  'Montserrat Alternates';
  color: cornflowerblue;
}

.centered {
  margin-left: 20%;
  margin-right: auto;

}

.logo {
  font-family: 'Montserrat Alternates';
  font-size: 40px;
  color: white;
  position: absolute;
  margin-left: 5%;
  margin-top: 21px;
}


a {
  color: white;
  text-decoration: none;

}

a:hover {

  color: white;
}

nav {
  background-color: #45818e;
  border-bottom: darkgrey 7px solid;
  border-radius: 4px;
  width: 60%;
  height: 70px;
  position: absolute;
}

/* nav bar style */
#search {
  position: absolute;
  margin-top: 45px;
  margin-left: 750px;
  height: 100px;
  width: 90px;
}

#nav-container{
  margin-left: 35%;
  position: absolute;
  margin-top: 38px;
  z-index: 1;
  font-weight: bold;
  color: white;
}

.nav-button{
  border-radius: 5px;
  font-family: 'Montserrat Alternates';
  font-size: 20px;
  text-align: center;
  width: 100px;
}

.nav-button:hover{
  background-color: #96C9D4;
}

#query-container{
  border-top: solid 2px lightgrey;
  width: 60%;
  margin-top: 74px;
  position: absolute;
}

#category-container td{
  border-right: 2px grey solid ;
  font-weight: bold;
  /* background-color: #f7f7f7; */

  width: 200px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}

#area-select{
  width: 145px;
  height: 45px;
  margin-left: 5px;

  color: royalblue;
  border: grey solid 2px;
}

#withdrawal-select{
  width: 80px;
  height: 45px;
  margin-left: 5px;

  color: royalblue;
  border: grey solid 2px;
}

#projects-container{
  border-top: black solid 2px;
  overflow-y: scroll;
  background-color: #eeedf9;


  margin-top: -1px;
  /* min-height: 200px; */
  max-height: 670px;

}

#projects-container table{
  border-collapse: collapse;
}

#projects-container tr{
  border-bottom: black solid 2px;
  cursor: pointer;
  transition-duration: .6s;
}

#projects-container tr:hover{
  background-color: lightgrey
}


#search-button{
  width: 145px;
  height: 45px;
  margin-left: 20px;

  color: royalblue;
  border-radius: 5px;
  border: grey solid 2px;
  transition-duration: .6s;
  user-select: none;
}

#search-button:hover{
  background-color: cornflowerblue;
  color: white;
}

.query-results{
  min-width: 205px;
  max-width: 205px;
  height: 50px;
  overflow-y: scroll;
  padding-left: 10px;
}

.last{
  width: 56%;
}

#whitebg {
  background-color: #FEFEFE;
  height: 900px;
  overflow: scroll;
  width: 60%;
  z-index:-100;
  position: absolute;
}

#foreground {
  z-index:100;

}
