body{
    font-family: arial;
    color: grey;

}

nav {
  background-color: royalblue;

  border-bottom: grey 4px solid;
  width: 100%;
  height: 70px;
  position: absolute;
}
/* nav bar style */
#search {
  position: absolute;
  margin-top: 25px;
  margin-left: 30px;
  height: 100px;
}

#nav-container{
  margin-left: 60%;
  position: absolute;
  margin-top: 40px;
  z-index: 1;
  font-weight: bold;
  color: white;
}

.nav-button{
  font-family: arial;
  font-size: 20px;
  text-align: center;
  width: 100px;
}

.nav-button:hover{
  background-color: cornflowerblue;
}

#query-container{
  border-top: solid 2px lightgrey;
  border-bottom: solid 2px black;
  width: 100%;
  /* height: 60px; */
  margin-top: 80px;
  position: absolute;
}

#category-container td{
  border-right: 2px grey solid ;

  width: 200px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}

#category-container select{
  width: 145px;
  height: 45px;
  margin-left: 5px;

  color: royalblue;
  border: grey solid 2px;
}
