@import url(https://fonts.googleapis.com/css?family=Hind+Vadodara);
@import url(https://fonts.googleapis.com/css?family=Montserrat+Alternates);



body{
  font-family:  'Hind Vadodara';
  color: cornflowerblue;
}

.logo {
  font-family: 'Montserrat Alternates';
  font-size: 40px;
  color: #45818e;
  position: absolute;
  margin-left: 13%;
  margin-top: 21px;
}


a {
  color: white;
  text-decoration: none;

}

a:hover {
  background-color: cornflowerblue;
  color: white;
}

nav {
  background-color: lightgrey;
  border-bottom: darkgrey 7px solid;
  width: 100%;
  height: 70px;
  position: absolute;
}
/* nav bar style */
#search {
  position: absolute;
  margin-top: 25px;
  margin-left: 30px;
  height: 100px;
}

#nav-container{
  margin-left: 60%;
  position: absolute;
  margin-top: 40px;
  z-index: 1;
  font-weight: bold;
  color: white;
}

.nav-button{
  font-family: 'Hind Vadodara';
  font-size: 20px;
  text-align: center;
  width: 100px;
}

.nav-button:hover{
  background-color: cornflowerblue;
}

#query-container{
  border-top: solid 2px lightgrey;
  width: 100%;
  margin-top: 74px;
  position: absolute;
}

#category-container td{
  border-right: 2px grey solid ;
  font-weight: bold;
  /* background-color: #f7f7f7; */

  width: 200px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}

#area-select{
  width: 145px;
  height: 45px;
  margin-left: 5px;

  color: royalblue;
  border: grey solid 2px;
}

#withdrawal-select{
  width: 80px;
  height: 45px;
  margin-left: 5px;

  color: royalblue;
  border: grey solid 2px;
}

#projects-container{
  border-top: black solid 2px;
  overflow-y: scroll;
  background-color: #eeedf9;


  margin-top: -1px;
  /* min-height: 200px; */
  max-height: 670px;

}

#projects-container table{
  border-collapse: collapse;
}

#projects-container tr{
  border-bottom: black solid 2px;
  cursor: pointer;
  transition-duration: .6s;
}

#projects-container tr:hover{
  background-color: lightgrey
}


#search-button{
  width: 145px;
  height: 45px;
  margin-left: 20px;

  color: royalblue;
  border-radius: 5px;
  border: grey solid 2px;
  transition-duration: .6s;
  user-select: none;
}

#search-button:hover{
  background-color: cornflowerblue;
  color: white;
}

.query-results{
  min-width: 205px;
  max-width: 205px;
  height: 50px;
  overflow-y: scroll;
  padding-left: 10px;
}

.last{
  width: 56%;
}
