@import url(https://fonts.googleapis.com/css?family=Hind+Vadodara);
@import url(https://fonts.googleapis.com/css?family=Montserrat+Alternates);


.centered {
  margin-left: 20.5%;
  margin-right: auto;

}

body{
  background-image: url("https://static1.squarespace.com/static/51c66a03e4b04f91946712b2/t/53ba4eace4b074d7aaf6378f/1404718765835/?format=2500w");
  background-size: 120%;
  margin-top:50px;
  font-family:  'Montserrat Alternates';
  color: cornflowerblue;
}

.logo {
  font-family: 'Montserrat Alternates';
  font-size: 40px;
  color: white;
  position: absolute;
  margin-left: 5%;
  margin-top: 21px;
}

a {
  color: white;
  text-decoration: none;

}

a:hover {

  color: white;
}

nav {
  background-color: #45818e;
  border-bottom: darkgrey 7px solid;
  border-radius: 4px;
  width: 60%;
  height: 70px;
  position: absolute;
}
/* nav bar style */
#search {
  position:absolute;
  margin-top: 45px;
  margin-left: 750px;
  height: 100px;
  width: 90px;
}

#nav-container{
  margin-left: 35%;
  position: absolute;
  margin-top: 38px;
  z-index: 1;
  font-weight: bold;
  color: white;
}

.nav-button{
  border-radius: 5px;
  font-family: 'Montserrat Alternates';
  font-size: 20px;
  text-align: center;
  width: 100px;
}

.nav-button:hover{
  background-color: #96C9D4;
}

#header-container{
  margin-top: 100px;
  margin-left: 9%;
  position: absolute;
  width: 700px;
  height: 200px;
  border: black solid 2px;
  background-color: white;
  opacity:.65;
}

/* #inside-circle-container{
    margin-top: 30px;
    margin-left: 40px;
    position: absolute;
    width: 100px;
    height: 100px;
} */
#circle-container {
  background: #6A92D8;
  width: 150px;
  height: 150px;
  margin-top: 25px;
  margin-left: 40px;
  border-radius: 75px;
  border: 2px solid #6A92D8; }

#proj_name {
  color: black;
  font-size: 35px;
  width: 80%;
  height: 100px;
  position: absolute;
  text-align: center;
  margin-top: 50px;
  margin-left: 150px;
  /* margin-left: 55px; */
}


#proj_facts {
  color: black;
  font-size: 20px;
  margin-left: 37%;
  width: 50%;
  height: 100px;
  position: absolute;
  text-align: center;
  margin-top: 15%;
}

#description-header {
  /* color: #6A92D8; */
  position: absolute;
  margin-top: 40px;
}

#description_container {
  background-color: white;
  opacity: 1;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  position: absolute;
  width: 700px;
  margin-top: 60px;
  min-height: 150px;
  max-height: 150px;
  overflow-y: scroll;
}

p {
  position: absolute;
  margin-left: 10px;
}

#requests-header{
  margin-top:510px;
  margin-left: 9%;
}

#requests-container{
  height: 150px;
  width: 700px;
  margin-left: 9%;
  border: black solid 2px;
  overflow-y: scroll;
  background-color: white;
  opacity:.9;
}

#requests-container table{
  border-collapse: collapse;

}


.render_donor{
  border-bottom: solid black 2px;
  background-color: #eeedf9;
  transition-duration: .6s;

  padding-left: 10px;
  height: 47px;
  width: 400px;
}

.render_donor:hover{
  background-color: lightgrey;
}

.first{
  cursor: pointer;
}

.button{
  width: 150px;
  height: 35px;
  border-radius: 20px;
}

.one{
  margin-left: 60px;
  color: green;
  transition-duration: .6s;

}

.one:hover{
  color:white;
  background-color: green;
}

.two{
  margin-left: 60px;
  color: red;
  transition-duration: .6s;
}
.two:hover{
  color:white;
  background-color: red;
}



#donate_button {
  width: 150px;
  height: 40px;
  border-radius: 20px;

  margin-top: 20px;
  margin-left: 700px;

  color: royalblue;
  transition-duration: .6s;
}

#donate_button:hover{
  color: white;
  background-color: royalblue;
}

#whitebg {
  background-color: #FEFEFE;
  border-radius: 8px;
  height: 800px;
  overflow: scroll;
  width: 60%;
  margin-bottom: 10%;
  margin-top: 20%
  z-index: -100;
  position: absolute;
}

.foreground {
  position: absolute;
  z-index:1;

}

#foregroundnav {
  z-index: 1000;
}
