@import url(https://fonts.googleapis.com/css?family=Hind+Vadodara);
@import url(https://fonts.googleapis.com/css?family=Montserrat+Alternates);
body{
  background-image: url("https://static1.squarespace.com/static/51c66a03e4b04f91946712b2/t/53ba4eace4b074d7aaf6378f/1404718765835/?format=2500w");
  background-size: 120%;
  margin-top:50px;
  font-family:  'Montserrat Alternates';
  color: cornflowerblue;
}


.centered {
  margin-left: 20.5%;
  margin-right: auto;
}

.logo {
  font-family: 'Montserrat Alternates';
  font-size: 40px;
  color: white;
  position: absolute;
  margin-left: 5%;
  margin-top: 21px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  background-color: cornflowerblue;
  color: white;
}

nav {
  background-color: #45818e;
  border-bottom: darkgrey 7px solid;
  border-radius: 4px;
  width: 60%;
  height: 70px;
  position: absolute;
}

#whitetext{
  color:white;
}
/* nav bar style */
#search {
  position:absolute;
  margin-top: 45px;
  margin-left: 750px;
  height: 100px;
  width: 90px;
}

#nav-container{
  margin-left: 35%;
  position: absolute;
  margin-top: 38px;
  z-index: 1;
  font-weight: bold;
  color: white;
}

.nav-button{
  border-radius: 5px;
  font-family: 'Montserrat Alternates';
  font-size: 20px;
  text-align: center;
  width: 100px;
}
.nav-button:hover{
  background-color: #96C9D4;
}

/* style for pertinent user info */
#header-container{
  margin-top: 100px;
  margin-left: 15px;
  position: absolute;
  width: 57.5%;
  height: 200px;
  border: black solid 2px;
}

#circle-container {
  background: #88A6C8;
  width: 150px;
  height: 150px;
  margin-top: 25px;
  margin-left: 100px;
  border-radius: 75px;
  border: 2px solid lightblue; }

#user-info{
  margin-top: -130px;
  margin-left: 40%;
  border:black solid 2px;
  width: 300px;

  text-align: center;
  background-color: lightgrey;
}

/* Style bio header + container */
#bio-header{
  margin-left: 15px;
  margin-top: 320px;
  position: absolute;

  color: black;
}

#bio-container{
  margin-left: 15px;
  margin-top: 350px;
  position: absolute;
  height: 440px;
  width: 300px;

  border: black solid 2px;
}

#project-header{
  margin-left: 350px;
  margin-top: 325px;
  position: absolute;

  color: black;
}

#project-container{
  margin-left: 350px;
  margin-top: 350px;
  height: 20%;
  width: 32%;
  position: absolute;
  border: black solid 2px;
  padding: 15px;
  overflow: scroll;
}

#donation-header{
  margin-top: 565px;
  margin-left: 350px;
  position: absolute;
  color: black;
}

#donation-container{
  margin-left: 350px;
  margin-top: 590px;
  height: 20%;
  width: 32%;
  position: absolute;
  border: black solid 2px;
  overflow: scroll;
}

#edit-bio{
  position: absolute;
  margin-left: 240px;
  margin-top: 760px;
}

#form {
  position: relative;
  margin-top: 10px;
  margin-left:10%;
  margin-right:10%;
}

#edit-form {
width:50%;
height:50%;
top:25%;
left:24%;
border-radius: 15px;
display:none;
position:fixed;
background-color: #45818e;
overflow:scroll;
}

#close {
  margin-left: -10%;
  width: 3%;
  height: 3%;
}

#name {
  position: relative;
}

#project-table{
  border: '1px solid black';
  border-collapse: collapse;
  display: table;
  width: 100%;
  overflow: scroll;
}


#donation-table{
  border: '1px solid black';
  border-collapse: collapse;
  display: table;
  width: 100%;
}

#project-container tr{
  border-bottom: black solid 2px;
  cursor: pointer;
  transition-duration: .6s;
}

#donation-container tr{
  border-bottom: black solid 2px;
  cursor: pointer;
  transition-duration: .6s;
}


#donation-container {
  padding: 15px;
}

#project-container tr:hover{
  background-color: lightgrey;

}

#donation-container tr:hover{
  background-color: lightgrey
}

#bio {
  width:100%;
}

#whitebg {
  background-color: #FEFEFE;
  border-radius: 8px;
  height: 900px;
  overflow: scroll;
  width: 60%;
  margin-bottom: 10%;
  z-index:-100;
  position: absolute;
}

#foreground {
  z-index:100;

}
