@import url(https://fonts.googleapis.com/css?family=Hind+Vadodara);

body{
  font-family:  'Hind Vadodara';
  color: cornflowerblue;
}

a {
  color: white;
  text-decoration: none;

}

a:hover {
  background-color: cornflowerblue;
  color: white;
}

nav {
  background-color: royalblue;
  border-bottom: grey 4px solid;

  width: 100%;
  height: 70px;
  position: fixed;
}
/* nav bar style */
#search {
  position:absolute;
  margin-top: 25px;
  margin-left: 30px;
  height: 100px;
}

#nav-container{
  margin-left: 60%;
  position: absolute;
  margin-top: 40px;
  z-index: 1;

  font-weight: bold;
  color: white;
}

.nav-button{
  font-size: 20px;
  text-align: center;
  width: 100px;
}

/* style for pertinent user info */
#header-container{
  margin-top: 100px;
  margin-left: 15px;
  position: absolute;
  width: 96.5%;
  height: 200px;
  border: black solid 2px;
}

#circle-container {
  background: cornflowerblue;
  width: 150px;
  height: 150px;
  margin-top: 25px;
  margin-left: 350px;
  border-radius: 75px;
  border: 2px solid lightblue; }

#user-info{
  margin-top: -130px;
  margin-left: 40%;
  border:black solid 2px;
  width: 300px;

  text-align: center;
  background-color: lightgrey;
}

/* Style bio header + container */
#bio-header{
  margin-left: 15px;
  margin-top: 320px;
  position: absolute;

  color: black;
}

#bio-container{
  margin-left: 15px;
  margin-top: 350px;
  position: absolute;
  height: 440px;
  width: 300px;

  border: black solid 2px;
}

#project-header{
  margin-left: 350px;
  margin-top: 325px;
  position: absolute;

  color: black;
}

#project-container{
  margin-left: 350px;
  margin-top: 350px;
  width: 73.3%;
  position: absolute;

  border: black solid 2px;
}

#donation-header{
  margin-top: 565px;
  margin-left: 350px;
  position: absolute;

  color: black;
}

#donation-container{
  margin-left: 350px;
  margin-top: 590px;
  width: 73.3%;
  height: 200px;
  position: absolute;

  border: black solid 2px;
}

#edit-bio{
  position: absolute;
  margin-left: 240px;
  margin-top: 810px;
}

#edit-form {
width:50%;
height:50%;
top:25%;
left:24%;
display:none;
position:fixed;
background-color:lightblue;
overflow:scroll;
}

#close {
  width: 3%;
  height: 3%;
}

#name {
  position: relative;
}

#project-table{
  border: '1px solid black';
  border-collapse: collapse;
  display: table;
  width: 100%;
}

#project-container tr{
  border-bottom: black solid 2px;
  cursor: pointer;
  transition-duration: .6s;
}

#project-container {
  padding: 15px;
}

#project-container tr:hover{
  background-color: lightgrey
}
