title {
  font-family: Arial;
  color: royalblue;
}

h2 {
  font-family: Arial;
  color: royalblue;
}

ul {
  font-family: Arial;
  color: black;
}

#user {
  background-color: white;
  display: inline;
  float: left;
}

#directory {
  align: left;
  background-color: white;
  display: inline;
  float: right;
}
